---
import EmailFilledIcon from "./icons/EmailFilledIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedInIcon from "./icons/LinkedInIcon.astro";
---

<div class="flex flex-col items-center justify-center gap-8 pt-16">
  <div class="flex gap-4">
    <div class="drop-shadow-white transition-transform duration-300 ease-in-out transform hover:-translate-y-2 cursor-pointer">
      <LinkedInIcon />
    </div>
    <div class="drop-shadow-white transition-transform duration-300 ease-in-out transform hover:-translate-y-2 cursor-pointer">
      <EmailFilledIcon />
    </div>
    <div class="drop-shadow-white transition-transform duration-300 ease-in-out transform hover:-translate-y-2 cursor-pointer">
      <GithubIcon />
    </div>
  </div>
</div>
