---
import EmailFilledIcon from "./icons/EmailFilledIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedInIcon from "./icons/LinkedInIcon.astro";
---

<div class="flex flex-row items-center justify-center gap-4 pt-16">
  <a class="flex gap-4">
    <a
      href="https://www.linkedin.com/in/robert-wiliam-b1a69b252/"
      class="transform cursor-pointer drop-shadow-white transition-transform duration-300 ease-in-out hover:-translate-y-2">
      <LinkedInIcon />
    </a>
    <a
      href="mailto:robert.wiliam12345@gmail.com"
      class="transform cursor-pointer drop-shadow-white transition-transform duration-300 ease-in-out hover:-translate-y-2">
      <EmailFilledIcon />
    </a>
    <a
      href="https://github.com/robert-wl"
      class="transform cursor-pointer drop-shadow-white transition-transform duration-300 ease-in-out hover:-translate-y-2">
      <GithubIcon />
    </a>
  </a>
</div>
