---
import { cn } from "../../utils/class-name";
const pages = [
  {
    name: "Home",
    link: "/",
  },
  {
    name: "Experience",
    link: "/experience",
  },
  {
    name: "Works",
    link: "/works",
  },
];

const { pathname } = Astro.url;
---

<div
  class="shadow-primary fixed top-8 z-10 flex w-96 justify-between rounded-full border border-primary bg-primary px-10 py-4 text-primary font-medium text-white shadow-primary-shiny max-lg:w-72">
  {
    pages.map((page) => (
      <a
        href={page.link}
        class={cn(pathname === page.link ? "underline-active after:scale-x-100" : "", "underline-animation relative cursor-pointer text-base max-lg:text-sm")}>
        {page.name}
      </a>
    ))
  }
</div>

<style>
  .underline-animation::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #00adb4;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
  }

  .underline-active::after {
    transform: scaleX(1);
  }

  .underline-animation:hover::after {
    transform: scaleX(1);
  }
</style>
