---
import EmailFilledIcon from "./icons/EmailFilledIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedInIcon from "./icons/LinkedInIcon.astro";


---


<div class="fixed right-5 bottom-1/2 flex flex-col gap-4">
    <div class="drop-shadow-white hover:animate-bob-up-down cursor-pointer">
      <LinkedInIcon />
    </div>
    <div class="drop-shadow-white hover:animate-bob-up-down cursor-pointer">
      <EmailFilledIcon />
    </div>
    <div class="drop-shadow-white hover:animate-bob-up-down cursor-pointer">
      <GithubIcon />
    </div>
  </div>


