---
import EmailFilledIcon from "@/components/common/icons/astro/EmailFilledIcon.astro";
import GithubIcon from "@/components/common/icons/astro/GithubIcon.astro";
import LinkedInIcon from "@/components/common/icons/astro/LinkedInIcon.astro";
---

<div class="fixed bottom-1/2 right-5 flex flex-col gap-4 max-lg:gap-3">
  <a
    target="_blank"
    href="https://www.linkedin.com/in/robert-wiliam-b1a69b252/"
    class="heigh w-8 transform cursor-pointer drop-shadow-white transition-transform duration-300 ease-in-out hover:-translate-x-2 max-lg:h-6 max-lg:w-6"
    rel="noreferrer">
    <LinkedInIcon />
  </a>
  <a
    target="_blank"
    href="mailto:robert.wiliam12345@gmail.com"
    class="w-8 transform cursor-pointer drop-shadow-white transition-transform duration-300 ease-in-out hover:-translate-x-2 max-lg:h-6 max-lg:w-6"
    rel="noreferrer">
    <EmailFilledIcon />
  </a>
  <a
    target="_blank"
    href="https://github.com/robert-wl"
    class="w-8 transform cursor-pointer drop-shadow-white transition-transform duration-300 ease-in-out hover:-translate-x-2 max-lg:h-6 max-lg:w-6"
    rel="noreferrer">
    <GithubIcon />
  </a>
</div>
