---
import Navbar from "../components/astro/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import SideContacts from "../components/astro/VerticalContacts.astro";
import ExperienceStepper from "../components/astro/experience/ExperienceStepper.astro";
import ExperienceStepperContent from "../components/astro/experience/ExperienceStepperContent.astro";
import Footer from "../components/astro/Footer.astro";
import experienceData from "../data/experience.json";
import { StarsBackground } from "../components/react/aceternity/stars-background";
import { ShootingStars } from "../components/react/aceternity/shooting-stars";
---

<Layout title="Works Page">
  <ShootingStars client:load />
  <StarsBackground client:load />
  <main class="flex flex-col items-center w-full h-full min-w-[100vw] min-h-[100vh] bg-background">
    <Navbar />
    <SideContacts />
    <div class="flex flex-col w-3/4">
      <div class="flex flex-col gap-6">
        <h1 class="pt-64 text-white text-4xl font-medium">My Experience Over the Years</h1>
      </div>
      <div class="py-16">
        <ExperienceStepper>
          {
            experienceData.map((experience, index) => {
              return (
                <ExperienceStepperContent
                  data={experience}
                  isLast={index === experienceData.length - 1}
                />
              );
            })
          }
        </ExperienceStepper>
      </div>
    </div>
    <Footer />
  </main>
</Layout>
