---
import Navbar from "@/components/common/astro/Navbar.astro";
import Layout from "@/components/layouts/Layout.astro";
import SideContacts from "@/components/common/astro/VerticalContacts.astro";
import ExperienceStepper from "@/components/experience/astro/ExperienceStepper.astro";
import ExperienceStepperContent from "@/components/experience/astro/ExperienceStepperContent.astro";
import Footer from "@/components/common/astro/Footer.astro";
import experienceData from "@/config/data/experience.json";
import { StarsBackground } from "@/components/common/react/stars-background";
import { ShootingStars } from "@/components/common/react/shooting-stars";
---

<Layout title="Works Page">
  <ShootingStars client:load />
  <StarsBackground client:load />
  <main class="flex h-full min-h-[100vh] w-full min-w-[100vw] flex-col items-center bg-background">
    <Navbar />
    <SideContacts />
    <div class="flex w-3/4 flex-col">
      <div class="flex flex-col gap-6">
        <h1 class="pt-64 text-4xl font-medium text-white max-lg:pt-32 max-lg:text-xl">My Experience Over the Years</h1>
      </div>
      <div class="py-16 max-lg:pt-2">
        <ExperienceStepper>
          {
            experienceData.map((experience, index) => {
              return (
                <ExperienceStepperContent
                  data={experience}
                  isLast={index === experienceData.length - 1}
                />
              );
            })
          }
        </ExperienceStepper>
      </div>
    </div>
    <Footer />
  </main>
</Layout>
