---
import Layout from "../layouts/Layout.astro";
import Card from "../components/astro/Card.astro";
import Navbar from "../components/astro/Navbar.astro";
---

<Layout title="Welcome to Astro.">
  <main class="w-full h-full">
    <Navbar />
  </main>
</Layout>
