---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/astro/Navbar.astro";
---

<Layout title="Home Page">
  <main class="w-full h-full min-w-[100vw] min-h-[100vh] bg-background">
    <Navbar />
  </main>
</Layout>
