---
import Navbar from "src/components/astro/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import ProjectList from "../components/works/react/project-list";
import WorksComponent from "src/components/astro/works/Works.astro";
import SideContacts from "../components/common/astro/VerticalContacts.astro";
import Footer from "../components/common/astro/Footer.astro";
import { professionalWorksData, personalWorksData } from "../data/works.json";
import { StarsBackground } from "../components/common/react/stars-background";
import { ShootingStars } from "../components/common/react/shooting-stars";
---

<Layout title="Works Page">
  <ShootingStars client:load />
  <StarsBackground client:load />
  <main class="flex h-full min-h-[100vh] w-full min-w-[100vw] flex-col items-center">
    <Navbar />
    <SideContacts />
    <div class="flex w-3/4 flex-col">
      <ProjectList client:load>
        <div
          class="flex flex-col gap-8"
          slot="professionalProjects">
          {
            professionalWorksData.map((p, i) => {
              return (
                <WorksComponent
                  data={p}
                  inverted={i % 2 === 0}
                />
              );
            })
          }
        </div>
        <div
          class="flex flex-col gap-8"
          slot="personalProjects">
          {
            personalWorksData.map((p, i) => {
              return (
                <WorksComponent
                  data={p}
                  inverted={i % 2 === 0}
                />
              );
            })
          }
        </div>
      </ProjectList>
      <Footer />
    </div>
  </main>
</Layout>

<style is:global>
  .menu-animation::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10%;
    width: 100%;
    height: 2px;
    background-color: #00adb4;
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.4s ease;
    z-index: 0;
  }

  .menu-animation-disabled::after {
    transform: scaleX(0) !important;
  }
</style>
