---
import Navbar from "src/components/astro/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---


<Layout title="Works Page">
    <main class="flex flex-col items-center w-full h-full min-w-[100vw] min-h-[100vh] bg-background">
        <Navbar />
        <div class="flex flex-col w-3/4">
            <h1 class="pt-64 text-white text-4xl font-medium">Works and Projects I've Done</h1>
            <section class="flex justify-between items-center min-h-[100vh] h-[100vh] gap-5">
            </section>
        </div>
    </main>
</Layout>
